@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    background: linear-gradient(green,lime)fixed;
}
.christmas {
    font-family: "Mountains of Christmas";
    text-align: center;
    color: red;
}
#history {
    font-family: "Mountains of Christmas";
    text-align: center;
    color: red;
}
.chri {
    font-family: "Mountains of Christmas";
    color: red;
}
.img {
    border-radius: 20px;
    margin-left: 500px;
}
#button {
    border-radius: 5px;
    margin-left: 500px;
}